<div class="clr-form-control mt-2">
    <label for="provided_secret" class="clr-control-label">{{
        'SYSTEM_ROBOT.PROVIDED_SECRET' | translate
    }}</label>
    <div
        class="clr-control-container"
        [class.clr-error]="isDirty && secret && validationErrors.length > 0">
        <div class="clr-input-wrapper">
            <input
                class="clr-input input-width"
                [type]="showPassword ? 'text' : 'password'"
                id="provided_secret"
                [ngModel]="secret"
                (ngModelChange)="onSecretInput($event)"
                (blur)="validate()"
                name="provided_secret"
                placeholder="{{
                    'SYSTEM_ROBOT.OPTIONAL_CUSTOM_SECRET' | translate
                }}"
                autocomplete="off"
                [ngModelOptions]="{ standalone: true }" />
            <clr-icon
                *ngIf="secret"
                [shape]="showPassword ? 'eye-hide' : 'eye'"
                (click)="toggleVisibility()"
                tabindex="0"
                role="button"
                [attr.aria-label]="
                    (showPassword
                        ? 'SYSTEM_ROBOT.HIDE_SECRET'
                        : 'SYSTEM_ROBOT.SHOW_SECRET'
                    ) | translate
                "
                (keyup.enter)="toggleVisibility()"
                (keydown.space)="$event.preventDefault(); toggleVisibility()"
                class="clr-input-icon-action"></clr-icon>
        </div>
        <clr-control-error
            *ngIf="isDirty && secret && validationErrors.length > 0">
            <ul class="error-list">
                <li *ngFor="let error of validationErrors">
                    {{ error.message | translate }}
                </li>
            </ul>
        </clr-control-error>
    </div>
    <div class="validation-progress mt-2" *ngIf="isDirty && secret">
        <div
            class="requirement"
            [class.met]="SecretValidator.validateLength(secret)">
            <clr-icon
                [shape]="
                    SecretValidator.validateLength(secret) ? 'check' : 'times'
                "></clr-icon>
            <span>{{
                'SYSTEM_ROBOT.SECRET_LENGTH_REQUIREMENT' | translate
            }}</span>
        </div>
        <div
            class="requirement"
            [class.met]="SecretValidator.hasUppercase(secret)">
            <clr-icon
                [shape]="
                    SecretValidator.hasUppercase(secret) ? 'check' : 'times'
                "></clr-icon>
            <span>{{
                'SYSTEM_ROBOT.SECRET_UPPERCASE_REQUIREMENT' | translate
            }}</span>
        </div>
        <div
            class="requirement"
            [class.met]="SecretValidator.hasLowercase(secret)">
            <clr-icon
                [shape]="
                    SecretValidator.hasLowercase(secret) ? 'check' : 'times'
                "></clr-icon>
            <span>{{
                'SYSTEM_ROBOT.SECRET_LOWERCASE_REQUIREMENT' | translate
            }}</span>
        </div>
        <div class="requirement" [class.met]="SecretValidator.hasDigit(secret)">
            <clr-icon
                [shape]="
                    SecretValidator.hasDigit(secret) ? 'check' : 'times'
                "></clr-icon>
            <span>{{
                'SYSTEM_ROBOT.SECRET_DIGIT_REQUIREMENT' | translate
            }}</span>
        </div>
    </div>
    <clr-input-container class="mt-2" *ngIf="isSecretValid()">
        <label class="clr-control-label">{{
            'SYSTEM_ROBOT.CONFIRM_SECRET' | translate
        }}</label>
        <input
            clrInput
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="confirmSecret"
            (ngModelChange)="onConfirmInput()"
            name="confirm_secret"
            id="confirm_secret"
            placeholder="{{ 'SYSTEM_ROBOT.CONFIRM_SECRET' | translate }}"
            autocomplete="off"
            [ngModelOptions]="{ standalone: true }" />
        <clr-control-error *ngIf="confirmSecret && !secretsMatch()">
            {{ 'SYSTEM_ROBOT.SECRETS_NOT_MATCH' | translate }}
        </clr-control-error>
    </clr-input-container>
</div>
